.vissza {
    font-weight: bold;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
    text-align: justify;
    float: right;
    margin-top: 625px;
}

a {
    color: #6495ed;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 10px #6495ed;
}